@media screen and (max-width: 767px) {
  .menu-media {
    margin-top: 30px;
    position: relative;
    z-index: 3;
  }
  .menu-media .menu-top {
    display: flex;
    background-color: #DBDBDB;
    color: #707070;
    padding: 11px 12px;
    transition: all 0.25s;
    position: relative;
    z-index: 2;
  }
  .menu-media .menu-top:hover {
    background-color: #000;
    color: #fff;
  }
  .menu-media .menu-top>span {
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    cursor: pointer;
  }
  .menu-media .menu-top>i {
    font-size: 16px;
    transition: all 0.25s;
  }
  .menu-media .menu-top.active>i {
    transform: rotate(180deg);
  }
  .menu-media .menu-list {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.35s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-40px);
  }
  .menu-media .menu-list.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .menu-media .menu-list>li {
    display: block;
    margin: 0;
  }
  .menu-media .menu-list>li>a {
    padding: 10px;
    background-color: #56AB45;
    color: #fff;
    border-top: 1px solid #95c38c;
  }
  .menu-media .menu-list>li.active>a,
  .menu-media .menu-list>li>a:hover {
    background-color: #4c963d;
    color: #fff;
  }
  .menu-media .menu-list > li.active > a:before {
    display: none;
  }
}
